.titolo{
	text-align:center;
	color: black;
}
.testo{
		text-align:center;

}
.striscia{
	background-color:red;
}
.centro{
	text-align:center;

}
.immagineCalcio{
	height: 250px;
	width: 400px;
}
.immagineOmino{
	height: 250px;
	width: 400px;
}
.immagineLibreria{
	height: 250px;
	width: 400px;
	
}
.BluBluscuro{
	background-image:linear-gradient(to left, #3399ff, #0000ff);	
	/*background-image:orange;*/
	color: white;
	margin-top:150px;
	text-align:left;

}

.BluScuroBlu{
	background-image:linear-gradient(to left, #0000ff, #3399ff);
	color: white;
	margin-top:150px;
	text-align:right;
}
.immagine{
	height: 400px;
	margin: 20px;

}
.immagine1{
	height: 100px;
}

.bluscuro{
	background-color: #0000ff;
	color: white;

}
.nero{
	color: black;

}

.immagineIta{
	height: 26px;
	width: 50px;
}

.immagineIng{
	height: 25px;
	width: 50px;

}

main{
	background-color: #3399ff;
	color: black;
}

footer{
	background-color: #3399ff;
	color: black;
}

header{
	background-color: #3399ff;
	color: black;
}
body{
	background-color: #3399ff;
	color: black;
}
head{
	background-color: #3399ff;
	color: black;
	
}
html{
	background-color: #3399ff;
	color: black;
}